.wrapper {
  display: flex;
  //   flex-direction: column;
  //   align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;

  .form-card {
    max-width: 500px;
    max-height: 600px;
    margin: 40px;

    .input-form {
      padding: 20px;
      display: flex;
      flex-direction: column;
    }

    mat-card-actions {
      display: flex;
      justify-content: center;
    }
  }
}
